@charset "UTF-8";
body {
  font-family: Arial;
  text-align: center;
  background: #f7f7f7;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 60%;
}
th, td {
  padding: 8px;
}
.btn {
  padding: 10px 15px;
  margin: 10px;
  background: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.alert-success {
  background-color: #d1e7dd;
  color: #0f5132;
}

.alert-danger {
  background-color: #f8d7da;
  color: #842029;
}